@media (max-width: 1440px) {
  textarea {
    width: 100%;
  }

  .tabcontent {
    width: 800px;
  }

  .tabcontent p {
    font-size: 24px;
  }

  .btn {
    letter-spacing: 3px;
  }
}

@media (max-width: 1024px) {
  .top-section {
    background-position: unset;
  }

  .top-section-text {
    top: 40%;
  }

  .top-section-text h2 {
    font-size: 54px;
  }

  form {
    width: 80%;
  }

  form label {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.671);
  }

  nav > ul {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .top-section-text {
    top: 30%;
  }

  .top-section-text h2 {
    font-size: 35px;
  }

  .top-section-text .btn {
    margin-top: 40px;
  }

  .top-section-text p {
    width: 100%;
  }

  .solutions-card img,
  .solutions-card:hover .background-hover-img {
    width: 210px;
    height: 327.16px;
  }

  .solutions-card:hover .background-hover-img,
  .background-hover-img {
    left: 50%;
    transform: translateX(-50%);
  }

  .about-us-text .btn {
    bottom: -5%;
  }

  form label {
    font-size: 16px;
  }
}

@media (max-width: 690px) {
  #burger-mobile {
    display: block;
  }
  nav img {
    width: 150px;
  }

  .top-section-text {
    top: 20px;
    transform: translate(-50%, 0);
  }

  .solutions-cards {
    flex-direction: column;
    align-items: center;
  }

  .solutions-card {
    font-size: 26px;
    margin: 20px auto;
  }

  .solutions-card img,
  .solutions-card:hover .background-hover-img {
    width: 100%;
    height: auto;
  }

  .solutions-card:hover .background-hover-img {
    height: 444px;
  }

  .top-section {
    height: 400px;
  }

  .top-section-text {
    width: 100%;
  }

  .about-us {
    flex-direction: column;
  }

  .about-us img,
  .about-us-text {
    width: 100%;
  }

  .about-us-text {
    margin-top: 20px;
    height: 270px;
  }

  .tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tab,
  .tabcontent {
    width: 100%;
    margin-top: 20px;
  }

  .why-us {
    text-align: center;
  }

  .why-us p {
    width: 90%;
    margin: auto;
  }

  .contact-section-cards {
    flex-direction: column;
  }

  .contact-card {
    margin-top: 20px;
  }

  .contact-form h3 {
    font-size: 40px;
  }

  .form-input {
    width: 100%;
  }

  #message-label {
    width: 100%;
    text-align: center;
  }

  .logo-footer {
    display: none;
  }

  .social-links {
    width: 160px;
  }

  nav {
    position: relative;
  }

  .fa-bars {
    transition: 0.5s;
  }

  nav .fa {
    font-size: 30px;
  }

  nav > ul {
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    background-color: white;
    height: 00px; /* 300px */
    right: -20px;
    top: 36px;
    z-index: 99;
    transition: height 0.3s ease-out;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10px;
    left: 15px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383f;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu-top {
    position: absolute;
    width: 180px;
    height: 400px;
    box-shadow: 0 0 10px #85888c;
    margin: -50px 0px 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #f5f6fa;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu-top li {
    padding: 10px 0;
    transition-delay: 2s;
  }

  #menuToggle input:checked ~ ul {
    transform: translate(-45%, 0);
  }
}
