* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;
}

button {
  font-family: "Josefin Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 5px auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

li {
  list-style: none;
}

#menuToggle > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#menuToggle input {
  display: none;
}

#menuToggle {
  display: flex;
  width: 30%;
  align-items: center;
}
.main-container {
  overflow: hidden;
}

.btn {
  background-color: #0d479b;
  border-radius: 50px;
  padding: 15px 30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

#burger-mobile {
  display: none;
}

.top-section {
  background-image: url("/statics/images/server-2160321_1920\ 1.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  height: 600px;
  color: white;
  text-align: center;
  position: relative;
  background-color: #e5e5e5;
}

.top-section-text {
  text-shadow: 2px 2px 3px black;
  position: absolute;
  width: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-section-text h2 {
  font-size: 64px;
  padding-bottom: 30px;
}

.top-section-text p {
  font-size: 24px;
  width: 70%;
  margin: auto;
}

.top-section-text .btn {
  margin-top: 60px;
}

.solutions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 5% 100px;
  background-color: #e5e5e5;
}

.solutions h3 {
  width: 100%;
  font-size: 56px;
  text-align: center;
  margin: 90px 0 30px 0;
}

.solutions-cards {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.solutions-card {
  font-size: 32px;
  width: 285px;
  text-align: center;
  position: relative;
}

.solutions-card h4 {
  margin-top: 10px;
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 60px auto;
}

.about-us img {
  width: 50%;
}

.about-us-text {
  width: 50%;
  padding-left: 20px;
  position: relative;
}

.about-us-text h3,
.why-us h3,
.contact-section h3,
.contact-form h3 {
  font-size: 56px;
  text-align: center;
  margin-bottom: 20px;
}

.about-us-text p {
  font-size: 25px;
}

.about-us-text .btn {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.tab {
  overflow: hidden;
  margin-right: 40%;
}

.tab button {
  position: relative;
  float: left;
  border: 5px solid transparent;
  background-color: transparent;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  margin: 10px;
  font-size: 37px;
  transition: 0.3s;
}

.tab button::before {
  position: absolute;
  content: "";
  box-sizing: border-box;
  height: 0;
  width: 0;
  border: 2px solid transparent;
  bottom: 0px;
  left: 0px;
}

.tab button::after {
  position: absolute;
  content: "";
  height: 0;
  box-sizing: border-box;
  width: 0;
  border: 2px solid transparent;
  top: 0px;
  right: 0px;
}

.tab button:hover::before {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  border-right: none;
  border-bottom: none;
  transition: height 0.5s linear, width 0.5s linear 0.5s;
}

.tab button:hover::after {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  border-left: none;
  border-top: none;
  transition: height 0.5s linear, width 0.5s linear 0.5s;
}

.tab button.active {
  box-shadow: 0 0 3px black inset;
  border-radius: 5px;
}

.tabcontent {
  display: none;
  animation: fade 1s;
  background-color: #eee;
  width: 700px;
  padding: 20px 20px 50px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.why-us {
  background-color: #e5e5e5;
}

.why-us img {
  width: 100%;
  margin-bottom: 20px;
}

.why-us h4,
.why-us p {
  width: 90%;
  margin: auto;
}

.why-us h4 {
  font-size: 35px;
  margin: 50px auto 10px;
}

.why-us p {
  width: 70%;
  font-size: 24px;
  margin-left: 5%;
  color: #4b4b4b;
}

.why-us p:last-child {
  padding-bottom: 30px;
}

.contact-section {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}

.contact-section h3 {
  width: 100%;
}

.contact-section-cards {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-around;
  text-align: center;
}

.contact-section-cards h4 {
  margin: 0px 0 5px;
}

.contact-form {
  width: 90%;
  margin: auto;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 50px auto;
}

.form-input {
  position: relative;
  margin: 1%;
}

.form-input input,
textarea {
  background-color: #c4c4c4;
  border-radius: 11px;
  border: none;
  padding: 10px;
  outline: none;
}

.input-nome {
  width: 100%;
}

.input-message {
  width: 100%;
}

.input-email,
.input-phone {
  width: 48%;
}

.input-nome input,
.input-email input,
.input-phone input,
.input-message input {
  width: 100%;
  font-family: "Josefin Sans";
}

textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
  width: 100%;
}

textarea:focus,
textarea:not(:placeholder-shown),
input:focus,
input:not(:placeholder-shown) {
  background-color: #e5e5e5;
}

form label {
  display: none;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0.541);
}

.label-active {
  display: block;
}

form .btn {
  margin: auto;
}

footer {
  display: flex;
  background-color: #545347;
  color: rgb(243, 243, 243);
  justify-content: space-between;
  font-size: 15px;
  min-height: 150px;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0 5%;
}

.menu-footer li {
  margin: 10px 0;
}

.social-links {
  display: flex;
  width: 143.88px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-links p {
  margin-bottom: 10px;
}

.logo-footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.copy {
  width: 100%;
  text-align: center;
  font-size: 10px;
}

footer a {
  font-weight: 400;
}
.copy a {
  border-bottom: 1px solid white;
}

a:hover,
a:active {
  color: #51c3fa;
}

.btn:hover,
.btn:active {
  background-color: #51c3fa;
  transition: 0.3s ease;
}

.copy a:hover {
  border-color: #0d479b;
}

.solutions-card:hover .background-hover-img {
  background-color: #0d479b;
  height: 444px;
  width: 285px;
  border-radius: 12px;
  position: absolute;
  top: 0;
  opacity: 0.6;
  transition: all 0.5s ease;
}
